
<footer class="row"> 
<section class="bg-dark row text-secondary py-3 justify-content-center">

    <div class="d-flex flex-column col-sx-12 col-sm-4 align-items-center d-xs-none d-sm-block">
        <div class="text-center">
           <a href="/about"><p>about us</p></a>
           <a href="/cookies"><p>cookies</p></a>
        </div>
        <hr>
    </div>
    
    <div> 
        <p class="text-center text-white"> @Hack-Away App - IronHack 1020 - J&J</p>
    </div>
</section>

</footer>