
<div class="container-fluid">
    <div class="row col-md">
        <nav class="d-flex flex-row card p-3 bg-dark justify-content-between border border-dark mt-3">
          
            <ul class="nav justify-content-center">
               
                <li class="nav-item">
                    <a href="/" class="text-decoration-none text-white p-1 ">Hack-Away</a>
                    <a href="/products/filter" class="text-decoration-none text-secondary p-1">Products</a>
                </li>
            </ul>
            <ul class="nav ">
                {{#if sessionUser}} <p class="text-secondary mx-2 text-right"><a href="/users/profile/{{sessionUser.id}}" class="text-secondary"> Welcome {{sessionUser.name}} </a></p>{{/if}}
                 {{#unless sessionUser}} <p class="text-secondary mx-2 text-right"><a href="/users/register" class="text-secondary text-decoration-none"> Create New User</a> or </p>{{/unless}}
                <li class="nav-item">  
                    
                    {{#unless sessionUser}}<a href="/users/login" class="text-decoration-none text-white p-1 text-right">Log In</a>{{/unless}}
                    {{#if sessionUser}}<a href="/users/logout" class="text-decoration-none text-white p-1 text-right">Log Out</a>{{/if}}
                </li>
            </ul>
        </nav>
    </div>
</div>