
<div class="container-fluid">
    <div class="row col-md">
        <nav class="d-flex flex-row card p-3 bg-dark justify-content-between border border-dark mt-3">
          
            <ul class="nav justify-content-center">
               
                <li class="nav-item">
                    <a href="/" class="text-decoration-none text-white p-1 ">Hack-Away</a>
                </li>
            </ul>
            <ul class="nav ">
                {{#if currentUser}} <p class="text-secondary mx-2 text-right"><a href="/users/profile/{{currentUser.id}}" class="text-secondary"> Welcome {{currentUser.name}} </a></p>{{/if}}
                <li class="nav-item">  
                    
                    {{#unless currentUser}}<a href="/users/login" class="text-decoration-none text-white p-1 text-right">Log In</a>{{/unless}}
                    {{#if currentUser}}<a href="/users/login" class="text-decoration-none text-white p-1 text-right">Log Out</a>{{/if}}
                </li>
            </ul>
        </nav>
    </div>
</div>