<div>
    
        <h2 class="text-center my-2">Cookies & Browser settings</h2>

    <p class="text-center font-weight-bold">Cookies help us remeber you and show you more things you´ll like.</p>
    <p class="text-center font-weight-bold">Have a browser to see what we use them for and how you can change your
        settings to suit you</p>
    
</div>
<div class="mx-3">
    <h3>Cookies Settings</h3>
    <div class="cont">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>appNexus</td>
                    <td>Advertising cookies</td>
                    <td class="tdc"><a href="" class="link">opt Out</a></td>
                    <td><a href="" class="link">Privacy Policy</a></td>
                </tr>
                <tr>
                    <td>Comscore</td>
                    <td>Performance cookie</td>
                    <td><a href="" class="link">opt Out</a></td>
                    <td><a href="" class="link">Privacy Policy</a></td>
                </tr>
                <tr>
                    <td>Google Adwords</td>
                    <td>Advertising cookie</td>
                    <td class="link"><a href="" class="link">opt Out</a></td>
                    <td><a href="">Privacy Policy</a></td>
                </tr>
                <tr>
                    <td>Analytics</td>
                    <td>Performance cookie</td>
                    <td><a href="" class="link">opt Out</a></td>
                    <td><a href="" class="link">Privacy Policy</a></td>
                </tr>
                <tr>
                    <td>Google DobleClick</td>
                    <td>Advertising cookie</td>
                    <td><a href="" class="link">opt Out</a></td>
                    <td><a href="" class="link">Privacy Policy</a></td>
                </tr>
                <tr>
                    <td>Google Adx</td>
                    <td>Advertising cookie</td>
                    <td><a href="" class="link">opt Out</a></td>
                    <td><a href="" class="link">Privacy Policy</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
