<div class="d-flex flex-column container-fluid align-items-center my-5 ">
    <div class="d-flex flex-column align-items-center">
        <div>
            <h1 class="text-white">Hack-Away</h1>
            <p> Best take-away app ever</p>
        </div>
        <div>
            <button class="btn btn-secondary"><a href="/users/register" class="text-white text-decoration-none p-2">New user</a></button>
        </div>
        <div>
            <h1 class="text-center m-5">UNDER CONSTRUCTION!</h1>
        </div>
    </div>
</div>

