
    <!--
    <div class="form-group">
        <label for="location">Location</label>
        <input class="form-control" type="text" name="location" id="location" placeholder="Madrid , España">
    </div>
<div id="map"></div>


<script src="/js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2DHJUrO6crOuWJlFICM4fZAhbKIpFhs&callback=initMap"></script>
<script src="/js/maps.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBc2DHJUrO6crOuWJlFICM4fZAhbKIpFh&libraries=places&callback=initMap"></script>


  -->